/*=====flexbox========*/

.nav-links {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.student-name, .top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    
}

